<div class="flex justify-center align-center mt-50">
    <div class="w-full max-w-[400px] p-10 rounded-2xl shadow-xl bg-white border">
        <h1 class="text-2xl mb-2">Login</h1>
        <div class="flex gap-2 mb-8 text-sm">
            <span>Don't have an account?</span>
            <a class="text-primary cursor-pointer">Sign up!</a>
        </div>
        <form class="flex flex-col gap-5">
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input [formField]="loginForm.email" matInput type="email" placeholder="Enter your email" />
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input 
                    matInput
                    [formField]="loginForm.password"
                    [type]="hidePassword() ? 'password' : 'text'"
                    placeholder="Enter your password"
                />
                <button
                    mat-icon-button
                    matSuffix
                    (click)="hidePassword.set(!hidePassword())"
                    type="button"
                    class="mr-1"
                >
                    <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon> 
                </button>
            </mat-form-field>
            <button mat-flat-button class="w-full mt-3" type="submit" (click)="onSubmit()">Login</button>
        </form>
    </div>
</div>