<mat-grid-list cols="2" gutterSize="8">
    <mat-grid-tile>
        <mat-card class="h-full w-full" appearance="outlined">
            <mat-card-header>
                <mat-card-title>What's new</mat-card-title>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="h-full w-full m-2" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Hot Jobs</mat-card-title>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="h-full w-full m-2" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Make your moves</mat-card-title>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="h-full w-full m-2" appearance="outlined">
            <mat-card-header>
                <mat-card-title>About us</mat-card-title>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>